{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    <title>Login - ESendy</title>
</head>

<body class="bg-slate-200">
    <div class="login-page-wrapper w-full">
        <div class="login-page-wrapper flex justify-center items-center min-h-[100vh] p-4 xl:p-0">
            <div
                class="login-box bg-slate-100  w-full sm:w-3/4 md:w-[60%] lg:w-1/2  xl:w-[35vw] 2xl:w-[30vw]  px-4 py-8 lg:px-6 md:shadow-lg rounded-md">
                {% if form.errors %}
                <div class="error absolute left-1/2 top-10 -translate-x-1/2 ">
                    {% for field in form %}
                    {% if field.errors %}
                    <div class='flex items-center space-x-4 '>
                        <strong>{{ field.label }}:</strong>
                        <ul>
                            {% for error in field.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
                <h3 class="text-3xl text-center text-gray-900 font-medium">Login Here</h3>
                <form action="{% url 'account_login' %}" method="post"
                    class="flex flex-col mt-4 p-3  space-y-3 w-full">
                    {% csrf_token %}
                    <div class="flex flex-col space-y-2">
                        <label for="id_login" class="text-lg">Email</label>
                        <input type="email" name="login" id="id_login" placeholder="Email"
                            class="rounded-md p-2 border focus:outline-none border-gray-500" required>
                    </div>
                    <div class="flex flex-col space-y-2">
                        <label for="id_password" class="text-lg">Password</label>
                        <input type="password" name="password" id="id_password" placeholder="Password"
                            class="rounded-md p-2 border focus:outline-none border-gray-500" required>
                        <p class="text-right"><a href="{% url 'account_reset_password' %}"
                                class="w-full text-blue-600 text-sm">Forget password?</a></p>
                    </div>
                    <div class="">
                        <button type="submit" class="hover:bg-gray-800 rounded-md w-full  py-2 bg-gray-900 text-white">Login
                        </button>
                        <p class="register-text text-sm text-center mt-2">Don't have an account ? <a class="text-blue-600 hover:underline hover:font-medium" href="{% url 'account_signup' %}">Register</a></p>
                        <p class="mt-3 text-center">Or</p>
                    </div>
                    <div class="shadow-md py-2  hover:bg-gray-200 rounded-md ">
                        <a class="flex items-center justify-center space-x-2" href="{% url 'google_login' %}">
                            <div class="w-6 h-6"><img  src="/media/assets/google.png" alt=""></div>
                            <p class="text">
                                Continue with Google
                            </p>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>