{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    <title>Sign up - ESendy</title>
</head>

<body>
    <div class="w-full ">
        <div class="login-page-wrapper flex justify-center items-center h-[100vh] p-4 xl:p-0">
            <div
                class="login-box  w-full sm:w-3/4 md:w-[60%] lg:w-1/2  xl:w-[35vw] 2xl:w-[30vw]  px-4 py-4 lg:px-6    md:shadow-lg">
                {% if form.errors %}
                <div class="error">
                    {% for field in form %}
                    {% if field.errors %}
                    <div>
                        <strong>{{ field.label }}:</strong>
                        <ul>
                            {% for error in field.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
                <h3 class="text-3xl text-center text-gray-800">Sign up</h3>
                <form action="{% url 'account_signup' %}" method="post"
                    class=" flex flex-col p-3 rounded space-y-3 w-full">
                    {% csrf_token %}
                    <div class="flex flex-col space-y-2">
                        <label for="id_email" class="text-lg">Email</label>
                        <input type="email" name="email" id="id_email" placeholder="Email"
                            class="rounded-md p-2 border focus:outline-none border-gray-500" required>
                    </div>
                    <div class="flex flex-col space-y-2">
                        <label for="id_password1" class="text-lg">Password</label>
                        <input type="password" name="password1" id="id_password1" placeholder="Password"
                            class="rounded-md p-2 border focus:outline-none border-gray-500" required>
                    </div>
                    <div class="flex flex-col space-y-2">
                        <label for="id_password2" class="text-lg">Confirm Password</label>
                        <input type="password" name="password2" id="id_password2" placeholder="Confirm Password"
                            class="rounded-md p-2 border focus:outline-none border-gray-500" required>
                    </div>
                    <div class="">
                        <button type="submit" class="rounded-md w-full  py-2 bg-gray-900 text-white hover:bg-gray-800">Sign
                            Up
                        </button>
                        <p class="text-sm text-center py-[2px]">Already have an account ?  <a href="{% url 'account_login' %}" class="text-blue-700 font-normal">Login</a></p>
                        <p class="py-2 text-center">Or</p>
                    </div>
                    <div class="shadow-md py-2  hover:bg-gray-200 rounded-md">
                        <a class="flex items-center justify-center space-x-2" href="{% provider_login_url 'google' %}">
                            <div class="w-6 h-6"><img src="/media/assets/google.png" alt=""></div>
                            <p class="text">
                                Continue with Google
                            </p>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>